.container {
  background-color: rgb(161, 154, 154);
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 24px;
  gap: 14px;
  border-radius: 4px;
}
.wrapper > h1 {
  line-height: 0px;
  margin-bottom: 34px;
}
.input {
  padding: 12px;
  outline: none;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 4px;
}

.button {
  outline: none;
  border: none;
  padding: 12px;
  background-color: rgb(70, 164, 241);
  color: white;
  font-size: 14px;
  margin-top: 24px;
  border-radius: 4px;
}


.error{
    color: red;
    font-size: 12px;
    font-weight: 500;
    line-height: 0px;
}